[Unit]
Description=zkfc
After=network.target
After=namenode.service
After=zookeeper.service

[Service]
Type=forking
OOMScoreAdjust=-1000
ExecStart={{ hadoop_home }}/sbin/hadoop-daemon.sh start zkfc
ExecStop={{ hadoop_home }}/sbin/hadoop-daemon.sh stop zkfc
TimeoutSec=300
Restart=on-failure

[Install]
WantedBy=multi-user.target