127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# for EPEL
209.132.181.15 mirrors.fedoraproject.org

# inventory
{% for node in groups['all'] %}
{{ hostvars[node]['ansible_host'] }} {{ node }}
{% endfor %}